$color-black: #000;
$font-size-md: 14px;
$font-size-xl: 18px;
$color-white: #fff;
$color-light-border: rgba($color-black, .08);
$color-black: #000;
$picker-cancel-font-color: rgba($color-black, .38);
$picker-title-font-color: rgba($color-black, .87);
$color-primary: #45B7FF;