@import './common.scss';

$scope: aw-picker;

.#{$scope} {
  background: $color-white;
  &-content {
    position: relative;
    padding: 12px 0;
  }
  &__mask {
    position: absolute;
    top: 12px;
    bottom: 12px;
    width: 100%;
    pointer-events: none;
    background: linear-gradient(
      rgba($color-white, .73) 0,
      rgba($color-white, .73) 20%,
      rgba($color-white, .57) 0,
      rgba($color-white, .57) 40%,
      rgba($color-white, 0) 0,
      rgba($color-white, 0) 60%,
      rgba($color-white, .57) 0,
      rgba($color-white, .57) 80%,
      rgba($color-white, .73) 0,
      rgba($color-white, .73) 100%,
    )
  }
  &-toolbar {
    &--default {
      display: flex;
      height: 48px;
      align-items: center;
      padding: 0 16px;
      &__cancel {
        flex: 1;
        font-size: $font-size-md;
        color: $picker-cancel-font-color;
      }
      &-title {
        flex: 1;
        text-align: center;
        color: $picker-title-font-color;
        font-size: $font-size-xl;
      }
      &__confirm {
        flex: 1;
        text-align: right;
        font-size: $font-size-md;
        color: $color-primary;
      }
    }
  }
  &__items {
    display: flex;
  }
  &--center {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 44px;
    pointer-events: none;
    margin-top: -22px;
    &::before, &::after {
      content: '';
      position: absolute;
      display: block;
      box-sizing: border-box;
      border: 0px solid $color-light-border;
      z-index: 5;
      left: -50%;
      right: -50%;
      transform: scale(0.5);
    }
    &::before {
      top: 0;
      border-top-width: 1px;
    }
    &::after {
      bottom: 0;
      border-bottom-width: 1px;
    }
  }
}